<!DOCTYPE html>
<html>
<head>
  <link  type="text/css" href="/css/font-awesome.min.css">
  <!--<link  type="text/css" href="/css/bootstrap.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Hemant negi</title>
</head>
<body id="home">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<div class="container">
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="index.html"><i class="fa fa-codiepie"></i>Hemant Negi</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#connect-head-section">Connect</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#project-head-section">Project</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- home -->
	<header id="home-section">
		<div class="dark-overlay">
			<div class="home-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 ">
							<h1 class="display-4">
								 <strong>Create </strong>your <strong>website</strong> today
							</h1>
							<div class="d-none d-lg-block">
							<div class="d-flex flex-row">
								<div class="p-4 align-self-start">
									<i class="fa fa-check"></i>
								</div>
								<div class="p-4 align-self-end">
									<h3>Front End</h3>
									<span class="mr-2">HTML</span>
									<span class="mx-2">CSS</span>
									<span class="mx-2">Bootstrap</span>
									<span class="mx-2">JQuery</span>
									<span class="mx-2">Sass</span>
								</div>	
							</div>
								<div class="d-flex flex-row">
								<div class="p-4 align-self-start">
									<i class="fa fa-check"></i>
								</div>
								<div class="p-4 align-self-end">
									<h3>Back End</h3>
									<span class="mr-2">PHP</span>
									<span class="mx-2">Node.js</span>
									<span class="mx-2">MySQL</span>
									<span class="mx-2">MongoDb</span>
								</div>	
							</div>
						</div>
					</div>

						<div class="col-lg-4 pt-3">
							<div class="card bg-primary text-center card-form">
								<div class="card-body">
									<h3></h3>
									<p>Please fill out this form</p>
									<form>
										<div class="form-group ">
											<select class="form-control form-control-lg btn btn-default">
												<option >--Choose Type--</option>
												<option >Blog (Web Log)</option>
											    <option>Brand-Building Site</option>
											    <option>Celebrity Website</option>
											    <option>Community Site</option>
											    <option>Corporate Website</option>
											    <option>Dating Website</option>
											    <option>E-commerce Site</option>
											    <option>Forum Website</option>
											    <option>Gallery Website</option>
											    <option>Personal Website</option>
											    <option>Photo sharing Site</option>
											    <option>School Site</option>
											    <option>Social Networking</option>
											    <option>Other</option>

											</select>
										</div>
										<div class="form-group">
											<input class="form-control form-control-lg	" type="text" placeholder="Name"></input>
										</div>
										<div class="form-group input-group">
													<span class="input-group-addon">
													+     
											</span>
											<input class="form-control form-control-lg	" type="tel" placeholder="Phone Number"></input>
										</div>
										
										<div class="form-group">
											<input class="form-control form-control-lg	" type="email" placeholder="Email"></input>
										</div>
										<input class="btn btn-outline-light btn-block" value="Submit"></input>
									</form>
								</div>
								
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- explore head-->

	<secion id="connect-head-section">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="py-5">
					<h1 class="display-4">Connect</h1>
					<p class="lead">Not a node hippie. Not a maker. Not a otaku. Not a foodie. Not a traveller. Not a artlover.</p>
					 <p class="lead" >Definitely an <strong>asshole </strong></p>
					<a href="#" class="btn btn-outline-secondary">Find out more</a>
				</div>
			</div>
		</div>
	</div>
	</secion>

	<!-- explore section -->
	<section id="connect-section" class="bg-light text-muted text-center py-5">
		<div class="container">
			<div class="row ml-auto">
				<div class="col-md-6 col-lg-6 ">
					<img class="img-fluid mb-3 rounded-circle" src="img/4.jpeg">
				</div>
				<div class="col-md-6">	
					<div class="mb-3">
					 <h1>Connect with me</h1>
					</div>
					<!-- <div class="d-block"> -->
						<h2 class="sub-heading">Social</h2>
					<div class="row mt-4">
						<div class="col">
							<a href="https://www.facebook.com/hemant30053" target="_blank">
							<i title="Facebook" class="fa fa-facebook-official  fa-5x " aria-hidden="true"></i>
							<!--<img id="facebook" class="icon img-responsive" src="images/facebook.png"/>-->
							</a>
						</div>
						<div class="col">
							<a href="https://www.instagram.com/nhemnt/" target="_blank">
							<i title="Instagram" class="fa fa-instagram  fa-5x" aria-hidden="true"></i>
							<!--<img id="instagram" class="icon img-responsive" src="images/instagram.png"/>-->
							</a>
						</div>
						<div class="col">
							<a href="https://twitter.com/nhemnt" target="_blank">
							<i title="Twitter" class="fa fa-twitter  fa-5x" aria-hidden="true"></i>
							<!--<img id="twitter" class="icon img-responsive" src="images/twitter.png"/>-->
							</a>
						</div>
					</div>

					<h2 class="sub-heading mt-4">Professional</h2>
					<div class="row mt-4">
						<div class="col">
							<a title="Linkedin" href="https://in.linkedin.com/in/nhemnt" target="_blank">
							<i class="fa fa-linkedin  fa-4x " aria-hidden="true"></i>
							<!--<img id="linkedin" class="icon img-responsive" src="images/linkedin.png"/>-->
							</a>
						</div>
						<div class="col">
							<a title="Github" href="https://github.com/nhemnt" target="_blank">
							<i class="fa fa-github  fa-4x" aria-hidden="true"></i>
							<!--<img id="github" class="icon img-responsive" src="images/github.png"/>-->
							</a>
						</div>
						<div class="col">
							<a href="https://www.behance.net/nhemnt" target="_blank">
							<i title="Behance" class="fa fa-behance  fa-4x" aria-hidden="true"></i>
							<!--<img id="behance" class="icon img-responsive" src="images/behance.png"/>-->
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- project head-->

	<section id="project-head-section" class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="py-5">
					<h1 class="display-4">Project</h1>
					<p class="lead">A couple of <strong>projects</strong> I've been working on</p>
					 <p class="lead" >Don't know if any of you will find these interesting, Fuck yeah. <strong>I Dont Care.</strong></p>
					<a href="#" class="btn btn-outline-light">Find out more</a>
				</div>
			</div>
		</div>
	</div>
	</section>

	<!-- project section -->

	<section id="project section" class="bg-light text-muted text-center py-5">
		<div class="container">
			<div class="row py-2">
				<div class="col my-3">
					<div class="card" style="width:20rem">
			            <img class="card-img-top p-2" src="img/campdekho/home page of campdekho.jpg" alt="campdekho image">
			            <div class="card-body">
			                <h4 class="card-title text-dark">CampDekho</h4>
			                <p class="text-dark" class="card-text">A site for travellers to pick their camping destination ~Users can interact with each other by creating profile ~An individual can share their camping spots with image and description</p>
			                 <a href="http://campdekho.herokuapp.com" class="btn btn-success mr-3">Demo</a>
			                 <a href="https://github.com/nhemnt/campdekho" class="btn btn-success ml-3">Github</a>
			            </div>
			        </div>
				</div>
				<div class="col my-3">
					<div class="card" style="width:20rem">
			            <img class="card-img-top p-2" src="img/writing spook/writingspook(home).png" alt="Writing Spook Image">
			            <div class="card-body">
			                <h4 class="card-title text-dark">The Writing Spook</h4>
			                <p class="text-dark" class="card-text">Writing Spook is a famous Instagram platform known to give small writers the best opportunity to share their work with the world and to show their talent.</p>
			                 <div class="my-2">
			                 	<a href="http://thewritingspook.herokuapp.com/" class="btn btn-success mr-3">Demo</a>
			                 	<a href="https://github.com/nhemnt/thewritingspook" class="btn btn-success ml-3">Github</a>
			                 </div>
			            </div>
			        </div>
				</div>
				<div class="col my-3">
					<div class="card" style="width:20rem">
			            <img class="card-img-top p-2" src="img/colorgame.jpg" alt="Card image cap">
			            <div class="card-body">
			                <h4 class="card-title text-dark">Color Game</h4>
			                <p class="text-dark" class="card-text">Beautiful puzzle game for better understanding of RGB(Red,Green,Blue) color scheme</p>
			                <div class="btn-group">
			                 <a href="https://thegagcool.000webhostapp.com/colorGame.html" class="btn btn-success mr-3">Demo</a>
			                 <a href="https://github.com/nhemnt/colorGame" class="btn btn-success ml-3">Github</a>
			                </div> 
			            </div>
			        </div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer -->
	<section id="footer" class="bg-seconady">
		<div class="py-5">
		</div>
	</section>
	<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
  	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="/js/navbar-fixed.js"></script>
</body>
</html>